body {
    padding-bottom: 20px;
  }

.active {
    background-color: #3DB195;
  }

.navbar {
    background-color:  #242a25; 
  }

  .user-button {
    background-color: #3DB195;
  }

  .nav-item{
    padding: 0px 5px 0px 0px;
  }