 <div class="container-fluid">
    <div id="green">

        <div class="container-lg">
            <div class="absolute" id="witaj">
                <h3>Witaj na stronie głównej!</h3>
            </div>
            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-4">
                    <div>
                        <div class="image-wrapper1" >
                            <img src="..\..\assets\images\papuga.png" id="im" style="width: 426px; height: 258px;">
                        </div>
                        <div id="text">
                            Znajdź swojego ulubionego petisttera w darmowej aplikacji mobilnej Petsy. Pobierz ją z App Store lub
                        Google Play.</div>
                        <img id="logos" src="..\..\assets\images\appStore.png">
                         <img id="logos" src="..\..\assets\images\googlePlay.png">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="text2">
    
                        Zostaw swojego psa lub kota w dobrych rękach i jedź spokojnie na urlop! Mamy najlepszych petsitterów
                        w mieście!</div>
                        <div class="image-wrapper2" ><img src="..\..\assets\images\pies-i-kot.png"  id="im" style="width: 426px; height: 258px;">
                        </div>
                    
                </div>
                <div class="col-md"></div>
            </div>
        </div>
      

    </div>
    <div id="search">
        <div class="row">
            <div class="col-md-3"></div>
        <div class="col-md-6" id="green"  style="border-radius: 20px;">
            <mat-tab-group>
                <mat-tab label="Wizyty domowe"> 
                    <div class="row" style="padding: 20px">
                    <div class="col-sm" > 
                        <mat-form-field>
                        <mat-label>Typ wizyty</mat-label>
                        <input matInput 
                        type="email" 
                        >
                        <mat-error>Pole jest wymagane</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm"> 
                        <mat-form-field>
                        <mat-label>Miasto</mat-label>
                        <input matInput 
                        type="email" 
                        >
                        <mat-error>Pole jest wymagane</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm">  <mat-form-field>
                        <mat-label>Data</mat-label>
                        <input matInput 
                        type="email" 
                        >
                        <mat-error>Pole jest wymagane</mat-error>
                      </mat-form-field></div>
                    <div class="col-sm" style="padding: 7px"> 
                        <button type="button" class="btn btn-success" routerLink="login">Szukaj</button>       
                    </div>
                </div>
                </mat-tab>
                <mat-tab label="Spacer"> Content 2 </mat-tab>
                <mat-tab label="Nocleg"> Content 3 </mat-tab>
              </mat-tab-group>
        </div>
        
        <div class="col-md-3"></div>
       
    </div>
    </div>
    <div id="green">
        <div id="search">
            <div id="text2">
                
                    
                    <div style="align-items: center;  
                    text-align: center; 
                    position: sticky; 
                    padding-bottom: 5%;">Jedź na urlop, a my zajmiemy się Twoim pupilem
                    </div>
                    <div class="row" style="color: #6C6C6C; font-size: 13px; font-family: Fira Sans; font-weight: 400; line-height: 34px; letter-spacing: 0.13px; word-wrap: break-word">
                        <div class="col-md-3"></div>
                        <div class="col-md-2"><img class="down-icons" src="..\..\assets\images\security-safe-svgrepo-com.svg"><br>Opiekunowie są weryfikowani i każdy z nich zostawił nam swój adres oraz kontakt awaryjny, od początku wiesz gdzie będzie Twój pupil.</div>
                        <div class="col-md-2"><img class="down-icons" src="..\..\assets\images\home-4-svgrepo-com.svg"><br>Jeżeli Twój pupil lubi spać w łóżku - tutaj znajdziesz opiekuna, który mu to umożliwi.</div>
                        <div class="col-md-2"><img class="down-icons" src="..\..\assets\images\people-gesture-svgrepo-com.svg"><br>Twój pupil może mieć opiekuna na wyłączność, a nie być jednym z kilkunastu psów w hotelowej klatce.</div>
                        <div class="col-md-3">
                    </div>
                    
             
    
                </div>
        </div>
        
    
   

        
    </div>
</div>
<div>
</div>

<!--
<div class="StronaGWna" style="width: 847px; height: 1469px; background: #EAEDE7; flex-direction: column; justify-content: flex-start; align-items: center; gap: 51px; display: inline-flex">
  <div class="Nav" style="width: 847px; height: 50px; position: relative; background: #404040">
    <div class="YourPet" style="left: 20px; top: 13px; position: absolute; color: #3DB195; font-size: 24px; font-family: Fira Sans; font-weight: 400; line-height: 24px; letter-spacing: 5.76px; word-wrap: break-word">YOUR-PET</div>
    <div class="IconMessage" style="width: 96px; left: 633px; top: 7px; position: absolute">
      <div class="Group" style="width: 35px; height: 35.10px; left: 61px; top: 0px; position: absolute">
        <div class="Vector" style="width: 35px; height: 35.10px; left: 0px; top: 0px; position: absolute; background: #3DB195; border: 1.18px #292D32 solid"></div>
        <div class="Group" style="width: 14.02px; height: 0px; left: 10.49px; top: 15.75px; position: absolute">
          <div class="Vector" style="width: 0.02px; height: 0px; left: 14px; top: 0px; position: absolute; background: #3DB195; border: 1.57px #292D32 solid"></div>
          <div class="Vector" style="width: 0.02px; height: 0px; left: 7px; top: 0px; position: absolute; background: #3DB195; border: 1.57px #292D32 solid"></div>
          <div class="Vector" style="width: 0.02px; height: 0px; left: 0px; top: 0px; position: absolute; background: #3DB195; border: 1.57px #292D32 solid"></div>
        </div>
      </div>
      <div class="VIcon" style="width: 43px; height: 32px; left: 0px; top: 2px; position: absolute; text-align: center; color: #3DB195; font-size: 48px; font-family: Material Icons; font-weight: 400; line-height: 48px; word-wrap: break-word">menu</div>
    </div>
    <div class="Group" style="width: 37.13px; height: 36px; left: 747px; top: 7px; position: absolute">
      <div class="Vector" style="width: 37.13px; height: 36px; left: 0px; top: 0px; position: absolute; background: #3DB195; border: 1px #292D32 solid"></div>
      <div class="Vector" style="width: 13.92px; height: 13.48px; left: 11.60px; top: 8.87px; position: absolute; background: #3DB195; border: 1px #292D32 solid"></div>
    </div>
    <div class="Vector" style="width: 37px; height: 35px; left: 802px; top: 7px; position: absolute; background: #3DB195; border: 1px #292D32 solid"></div>
  </div>
  <div class="WitajNaStronieGWnej" style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; line-height: 32px; letter-spacing: 7.68px; word-wrap: break-word">Witaj na stronie głównej!</div>
  <div class="First" style="width: 834px; height: 400px; position: relative">
    <img class="Image1" style="width: 426px; height: 198px; left: 0px; top: 6px; position: absolute; box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/426x198" />
    <img class="Image4" style="width: 128px; height: 38px; left: 209px; top: 326px; position: absolute" src="https://via.placeholder.com/128x38" />
    <img class="Image2" style="width: 438px; height: 245px; left: 396px; top: 155px; position: absolute; box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25)" src="https://via.placeholder.com/438x245" />
    <img class="Image3" style="width: 120px; height: 40px; left: 30px; top: 325px; position: absolute" src="https://via.placeholder.com/120x40" />
    <div class="ZostawSwojegoPsaLubKotaWDobrychRKachIJedSpokojnieNaUrlopMamyNajlepszychPetsitterWWMieCie" style="width: 332px; height: 310px; left: 457px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Fira Sans; font-weight: 500; line-height: 34.20px; letter-spacing: 0.20px; word-wrap: break-word">Zostaw swojego psa lub kota w dobrych rękach i jedź spokojnie na urlop! Mamy najlepszych petsitterów w mieście!</div>
    <div class="ZnajdSwojegoUlubionegoPetistteraWDarmowejAplikacjiMobilnejPetsyPobierzJZAppStoreLubGooglePlay" style="width: 380px; height: 95px; left: 11px; top: 250px; position: absolute; color: #6C6C6C; font-size: 13px; font-family: Fira Sans; font-weight: 500; line-height: 22.23px; letter-spacing: 0.13px; word-wrap: break-word">Znajdź swojego ulubionego petisttera w darmowej aplikacji mobilnej Petsy. Pobierz ją z App Store lub Google Play.</div>
  </div>
  <div class="Second" style="align-self: stretch; height: 237px; padding-left: 73px; padding-right: 73px; padding-top: 19px; padding-bottom: 19px; background: #404040; flex-direction: column; justify-content: center; align-items: center; gap: 12px; display: flex">
    <div class="Frame12" style="height: 199px; padding-left: 31px; padding-right: 31px; padding-top: 56px; padding-bottom: 56px; background: #E6F2DC; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; overflow: hidden; border-left: 0.50px #404040 solid; border-top: 0.50px #404040 solid; border-right: 0.50px #404040 solid; border-bottom: 0.50px #404040 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <div class="Frame2" style="align-self: stretch; height: 24px; border-bottom: 0.50px black solid; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
        <div class="WizytyDomowe" style="width: 113px; height: 10px; color: black; font-size: 16px; font-family: Fira Sans; font-weight: 700; line-height: 16px; word-wrap: break-word">Wizyty domowe</div>
        <div class="Spacer" style="width: 49px; height: 10px; color: black; font-size: 16px; font-family: Fira Sans; font-weight: 700; line-height: 16px; word-wrap: break-word">Spacer</div>
        <div class="Nocleg" style="width: 49px; height: 10px; color: #3DB195; font-size: 16px; font-family: Fira Sans; font-weight: 700; text-decoration: underline; line-height: 16px; word-wrap: break-word">Nocleg</div>
      </div>
      <div class="Frame2" style="width: 703px; padding-top: 8px; padding-bottom: 9.50px; justify-content: center; align-items: flex-start; gap: 113.09px; display: inline-flex">
        <div class="Frame2" style="align-self: stretch; align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="Frame13" style="height: 34px; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: white; border-radius: 8px; border-left: 0.50px black solid; border-top: 0.50px black solid; border-right: 0.50px black solid; border-bottom: 0.50px black solid; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div class="FootIcon" style="width: 15.05px; height: 14px; position: relative">
              <div class="Vector" style="width: 10.96px; height: 8.88px; left: 1.69px; top: 5.12px; position: absolute; background: #A4A4A4"></div>
              <div class="Vector" style="width: 4.20px; height: 4.10px; left: 4.19px; top: 0px; position: absolute; background: #A4A4A4"></div>
              <div class="Vector" style="width: 3.50px; height: 3.42px; left: 9.31px; top: 1.50px; position: absolute; background: #A4A4A4"></div>
              <div class="Vector" style="width: 2.79px; height: 2.73px; left: 12.25px; top: 4.92px; position: absolute; background: #A4A4A4"></div>
              <div class="Vector" style="width: 3.50px; height: 3.42px; left: 0px; top: 2.87px; position: absolute; background: #A4A4A4"></div>
            </div>
            <div class="Szuka" style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 26px; letter-spacing: 0.50px; word-wrap: break-word">Szuka...</div>
          </div>
          <div class="Frame14" style="height: 34px; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: white; border-radius: 8px; border-left: 0.50px black solid; border-top: 0.50px black solid; border-right: 0.50px black solid; border-bottom: 0.50px black solid; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div class="IcoKaledarz" style="width: 13.31px; height: 14.99px; position: relative">
              <div class="Vector" style="width: 13.25px; height: 5.12px; left: 0.03px; top: 0px; position: absolute; background: #A4A4A4"></div>
              <div class="Vector" style="width: 13.31px; height: 8.78px; left: 0px; top: 6.20px; position: absolute; background: #A4A4A4"></div>
            </div>
            <div class="Szuka" style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 26px; letter-spacing: 0.50px; word-wrap: break-word">Ustal Datę...</div>
          </div>
          <div class="Frame15" style="height: 34px; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: white; border-radius: 8px; border-left: 0.50px black solid; border-top: 0.50px black solid; border-right: 0.50px black solid; border-bottom: 0.50px black solid; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div class="Vector" style="width: 12.41px; height: 14px; background: #A4A4A4"></div>
            <div class="Szuka" style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 26px; letter-spacing: 0.50px; word-wrap: break-word">Miejsce...</div>
          </div>
        </div>
        <div class="Frame" style="padding: 4px; background: #3DB195; border-radius: 8px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div class="Szukaj" style="width: 83px; text-align: center; color: white; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 26px; letter-spacing: 0.50px; word-wrap: break-word">Szukaj</div>
        </div>
      </div>
    </div>
  </div>
  <div class="Third" style="width: 792px; height: 355px; position: relative">
    <div class="OpiekunowieSWeryfikowaniIKaDyZNichZostawiNamSwJAdresOrazKontaktAwaryjnyOdPoczTkuWieszGdzieBDzieTwJPupil" style="width: 190px; left: 0px; top: 225px; position: absolute; color: #6C6C6C; font-size: 13px; font-family: Fira Sans; font-weight: 300; line-height: 26px; letter-spacing: 0.13px; word-wrap: break-word">Opiekunowie są weryfikowani i każdy z nich zostawił nam swój adres oraz kontakt awaryjny, od początku wiesz gdzie będzie Twój pupil.</div>
    <div class="JeEliTwJPupilLubiSpaWKuTutajZnajdzieszOpiekunaKtRyMuToUmoLiwi" style="width: 190px; height: 95px; left: 298px; top: 225px; position: absolute; color: #6C6C6C; font-size: 13px; font-family: Fira Sans; font-weight: 300; line-height: 26px; letter-spacing: 0.13px; word-wrap: break-word">Jeżeli Twój pupil lubi spać w łóżku - tutaj znajdziesz opiekuna, który mu to umożliwi.</div>
    <div class="TwJPupilMoEMieOpiekunaNaWyCznoANieByJednymZKilkunastuPsWWHotelowejKlatce" style="width: 190px; height: 95px; left: 602px; top: 225px; position: absolute; color: #6C6C6C; font-size: 13px; font-family: Fira Sans; font-weight: 300; line-height: 26px; letter-spacing: 0.13px; word-wrap: break-word">Twój pupil może mieć opiekuna na wyłączność, a nie być jednym z kilkunastu psów w hotelowej klatce.</div>
    <div class="H2" style="width: 447px; height: 44px; left: 169px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div class="JedNaUrlopAMyZajmiemySiTwoimPupilem" style="width: 447px; height: 44px; color: black; font-size: 20px; font-family: Fira Sans; font-weight: 500; line-height: 34.20px; letter-spacing: 0.20px; word-wrap: break-word">Jedź na urlop, a my zajmiemy się Twoim pupilem</div>
    </div>
    <div class="Group" style="width: 18.63px; height: 32.60px; left: 68.18px; top: 120.24px; position: absolute">
      <div class="Vector" style="width: 18.63px; height: 18.63px; left: 0px; top: 0px; position: absolute; border: 3.49px #2B5FC3 solid"></div>
      <div class="Vector" style="width: 0px; height: 13.97px; left: 9.31px; top: 18.63px; position: absolute; border: 3.49px #2B5FC3 solid"></div>
    </div>
    <div class="Vector" style="width: 83.04px; height: 93.10px; left: 36px; top: 90px; position: absolute; border: 3.49px #2B5FC3 solid"></div>
    <div class="Vector" style="width: 83.04px; height: 0px; left: 351px; top: 170.84px; position: absolute; border: 3.11px #2B5FC3 solid"></div>
    <div class="Vector" style="width: 74.94px; height: 80.84px; left: 354.94px; top: 90px; position: absolute; border: 3.11px #2B5FC3 solid"></div>
    <div class="Vector" style="width: 20.76px; height: 20.76px; left: 382.14px; top: 150.08px; position: absolute; border: 3.11px #2B5FC3 solid"></div>
    <div class="Vector" style="width: 16.61px; height: 14.53px; left: 369.68px; top: 122.05px; position: absolute; border: 3.11px #2B5FC3 solid"></div>
    <div class="Vector" style="width: 16.61px; height: 14.53px; left: 398.75px; top: 122.05px; position: absolute; border: 3.11px #2B5FC3 solid"></div>
    <div class="Vector" style="width: 18.39px; height: 12.46px; left: 403.19px; top: 96.10px; position: absolute; border: 3.11px #2B5FC3 solid"></div>
    <div class="Vector" style="width: 21.54px; height: 35.42px; left: 678.23px; top: 111.28px; position: absolute; background: #2B5FC3"></div>
    <div class="Vector" style="width: 83.04px; height: 83.04px; left: 641px; top: 90px; position: absolute; background: #2B5FC3"></div>
  </div>
  <div class="Frame17" style="align-self: stretch; flex: 1 1 0; padding-left: 111px; padding-right: 111px; padding-top: 9px; padding-bottom: 9px; background: #404040; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
    <div class="PaweStachaczySki" style="width: 222px; height: 20px; color: white; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Paweł Stachaczyński</div>
    <div style="width: 106.31px; height: 20.62px; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 24px; word-wrap: break-word">© w64206</div>
    <div class="Rectangle" style="width: 614px; height: 0.63px; background: #CDD1D4"></div>
    <div class="SocialMedia" style="width: 115px; height: 21.45px; justify-content: flex-start; align-items: flex-start; gap: 31px; display: inline-flex">
      <div class="Fb" style="width: 21.28px; height: 21.45px; position: relative">
        <div class="Path" style="width: 10.64px; height: 21.45px; left: 5.32px; top: 0px; position: absolute; background: white"></div>
      </div>
      <div class="Tweet" style="width: 21.28px; height: 21.45px; position: relative">
        <div class="Path" style="width: 21.28px; height: 17.43px; left: -0px; top: 1.79px; position: absolute; background: white"></div>
      </div>
      <div class="Ig" style="width: 13.09px; height: 10.14px; position: relative">
        <img class="CombinedShape" style="width: 21.28px; height: 21.51px; left: -8.18px; top: 0px; position: absolute" src="https://via.placeholder.com/21x22" />
      </div>
    </div>
  </div>
</div>

-->