 <div class="container-fluid">
    <div id="green">

        <div class="container-lg">
            <div class="absolute" id="witaj">
                <h3>Witaj na stronie głównej!</h3>
            </div>
            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-4">
                    <div>
                        <div class="image-wrapper1" >
                            <img src="..\..\assets\images\papuga.png" id="im" style="width: 426px; height: 258px;">
                        </div>
                        <div id="text">
                            Znajdź swojego ulubionego petisttera w darmowej aplikacji mobilnej Petsy. Pobierz ją z App Store lub
                        Google Play.</div>
                        <img id="logos" src="..\..\assets\images\appStore.png">
                         <img id="logos" src="..\..\assets\images\googlePlay.png">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="text2">
    
                        Zostaw swojego psa lub kota w dobrych rękach i jedź spokojnie na urlop! Mamy najlepszych petsitterów
                        w mieście!</div>
                        <div class="image-wrapper2" ><img src="..\..\assets\images\pies-i-kot.png"  id="im" style="width: 426px; height: 258px;">
                        </div>
                    
                </div>
                <div class="col-md"></div>
            </div>
        </div>
      

    </div>
    <div id="search">
        <div class="row">
            <div class="col-md-3"></div>
        <div class="col-md-6" id="green"  style="border-radius: 20px;">
            <mat-tab-group>
                <mat-tab label="Wizyty domowe"> 
                    <div class="row" style="padding: 20px">
                    <div class="col-sm" > 
                        <mat-form-field>
                        <mat-label>Typ wizyty</mat-label>
                        <input matInput 
                        type="email" 
                        >
                        <mat-error>Pole jest wymagane</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm"> 
                        <mat-form-field>
                        <mat-label>Miasto</mat-label>
                        <input matInput 
                        type="email" 
                        >
                        <mat-error>Pole jest wymagane</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm">  <mat-form-field>
                        <mat-label>Data</mat-label>
                        <input matInput 
                        type="email" 
                        >
                        <mat-error>Pole jest wymagane</mat-error>
                      </mat-form-field></div>
                    <div class="col-sm" style="padding: 7px"> 
                        <button type="button" class="btn btn-success" routerLink="./">Szukaj</button>       
                    </div>
                </div>
                </mat-tab>
                <mat-tab label="Spacer"> </mat-tab>
                <mat-tab label="Nocleg"> </mat-tab>
              </mat-tab-group>
        </div>
        <div class="col-md-3"></div>
    </div>
    </div>
    <div id="green">
        <div id="search">
            <div id="text2">
                    <div style="align-items: center;  
                    text-align: center; 
                    position: sticky; 
                    padding-bottom: 5%;">Jedź na urlop, a my zajmiemy się Twoim pupilem
                    </div>
                    <div class="row" style="color: #6C6C6C; font-size: 13px; font-family: Fira Sans; font-weight: 400; line-height: 34px; letter-spacing: 0.13px; word-wrap: break-word">
                        <div class="col-md-3"></div>
                        <div class="col-md-2"><img class="down-icons" src="..\..\assets\images\security-safe-svgrepo-com.svg"><br>Opiekunowie są weryfikowani i każdy z nich zostawił nam swój adres oraz kontakt awaryjny, od początku wiesz gdzie będzie Twój pupil.</div>
                        <div class="col-md-2"><img class="down-icons" src="..\..\assets\images\home-4-svgrepo-com.svg"><br>Jeżeli Twój pupil lubi spać w łóżku - tutaj znajdziesz opiekuna, który mu to umożliwi.</div>
                        <div class="col-md-2"><img class="down-icons" src="..\..\assets\images\people-gesture-svgrepo-com.svg"><br>Twój pupil może mieć opiekuna na wyłączność, a nie być jednym z kilkunastu psów w hotelowej klatce.</div>
                        <div class="col-md-3">
                    </div>
                </div>
        </div>

    </div>
</div>
<div>
</div>
