<div class="container-fluid">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="image-wrapper">
                        <img src="..\..\assets\images\papuga.png"  style="width: 426px; height: 258px;">
                    </div>
                    <div id="text">
                        Znajdź swojego ulubionego petisttera w darmowej aplikacji mobilnej Petsy. Pobierz ją z App Store lub
                    Google Play.</div>
                    <img id="logos" src="..\..\assets\images\appStore.png">
                     <img id="logos" src="..\..\assets\images\googlePlay.png">
                </div>
            </div>
            <div class="col-md-6">
                <div id="text2">

                    Zostaw swojego psa lub kota w dobrych rękach i jedź spokojnie na urlop! Mamy najlepszych petsitterów
                    w mieście!</div>
                    <div class="image-wrapper"><img src="..\..\assets\images\pies-i-kot.png" style="width: 426px; height: 258px;">
                    </div>
                
            </div>
        </div>
    </div>
</div>
