
<div class="third">
    <div class="flex-row-1 flex-row-3">
    <div class="overlap-group5">
    <img class="group-3" src="group-1.png" alt="Group" /><img
    class="vector-1"
    src="vector-1.svg" alt="Vector"
    /> </div>
    <div class="flex-col-2 flex-col-3">
    <p class="jed-na-urlop-a-my firasans-medium-black-20px">Jedź na urlop, a my zajmiemy się Twoim pupilem</p>
    <div class="vector-container">
    <img class="vector-2" src="vector-2.svg" alt="Vector" /><img
    class="vector-3"
    src="vector-3.svg" alt="Vector"
    /><img class="vector-4" src="vector-4.svg" alt="Vector" /><img
    class="vector-5"
    src="vector-5.svg" alt="Vector"
    /><img class="vector-6" src="vector-6.svg" alt="Vector" /><img
    class="vector-7"
    src="vector-7.svg"
    alt="Vector"
    /> </div>
    </div>
    <div class="vector-container-1">
    <img class="vector-8" src="vector-8.svg" alt="Vector" /><img
    class="vector-9"
    src="vector-9.svg" alt="Vector" />
</div></div>
<div class="vector-container-1">
<img class="vector-8" src="vector-8.svg" alt="Vector" /><img
class="vector-9"
src="vector-9.svg" alt="Vector"
/> </div> </div>
<div class="flex-row-2 flex-row-3">
<p class="opiekunowie-s-weryf firasans-light-dove-gray-13px">
Opiekunowie są weryfikowani i każdy z nich zostawił nam swój adres oraz kontakt awaryjny, od początku wiesz gdzie będzie Twój pupil.
</p>
<p class="jeeli-twj-pupil-lu firasans-light-dove-gray-13px">
Jeżeli Twój pupil lubi spać w łóżku - tutaj znajdziesz opiekuna, który mu to
umożliwi.
</p>
<p class="twj-pupil-moe-mie firasans-light-dove-gray-13px">
Twój pupil może mieć opiekuna na wyłączność, a nie być jednym z kilkunastu psów w hotelowej klatce.
</p>
</div>
